html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
:root {
    --main-color: #d5bdaf;
    --second-color: #e3d5ca;
    --third-color: #f5ebe0;
    --fourth-color: #edede9;
    --text-color: #283618;
    --side-color: #d6ccc2;
    --contrast-color: #1D1E18;
    --gray: #f5f5f5;
    --gray-second: #d6d6d6;
    --gray-darker: #a0a0a0;
}
html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;

    background-color: var(--gray);
}
h1, h2, h3, p {
    margin: 0;  
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

header {
    background-color: var(--main-color);
    box-shadow: 0px 2px 4px var(--gray-darker);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header */
.nav-bar {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.main-title {
    min-width: max-content;
    color: var(--text-color);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
}
.elements .nav-title {
    text-align: center;
}
.elements {
    position: relative;
    padding: 5px 10px;
    border-radius: 4px;

    transition: all 300ms ease-in-out;
}
.list {
    max-height: 0px;
    min-width: max-content;
    overflow: hidden;
    position: absolute;
    left: 10%;
    background-color: var(--second-color);
    width: 100%;
    text-align: left;
    border-radius: 4px;

    transition: all 300ms ease-in-out;
}
.list li {
    padding: 5px;
}
.list li:hover {
    background-color: var(--third-color);
}
.show-list {
    max-height: max-content;
}
.active {
    background-color: var(--fourth-color);
}
.elements:hover {
    background-color: var(--fourth-color);
}
.elements:hover .list {
    max-height: 200px;
}

/* Main */
.main-content {
    width: 100%;
}
.collage {
    width: 100%;
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.picture {
    width: 0;

    transition: all 250ms ease-in-out;
}
.picture img {
    width: 100%;
    height: auto;
}
.picture.show {
    width: 80%;
    max-width: 700px;
}

/* Footer */
.footer {
    width: 100%;
    height: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
}
.footer.active {
    height: auto;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
}
.footer-anchor {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 350px) {
    .nav-bar {
        justify-content: center;
    }
    .container {
        display: none;
    }
}