body {
    font-size: 2rem;
    /* Use default font of system's interface */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Use different font-families */
.raleway {
    font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.titillium {
    font-family: 'Titillium Web', sans-serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Use Downloaded Font */
@font-face {
    font-family: Poppins;
    src: url(./Poppins/Poppins-Regular.ttf);
}
.poppins {
    font-family: 'Poppins', sans-serif;
}

/* italics */
h1 {
    font-style: italic;
}

