<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/aboutStyle.css" />
  </head>

  <body>
    <header><%- include('navbar', {links:links}) %></header>
    <p>This is the content displayed in about page</p>

    <%- include('footer') %>
  </body>
</html>
