.first-svg {
    width: 200px;
    height: auto;
}
.background-svg {
    background-image: url('./coffee.svg');
    width: 200px;
    height: 200px;
}

.svg-circle:hover + .svg-text-group {
    opacity: 0;
  }