#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#root img {
  width: 300px;
  height: auto;
  margin: auto;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.colors-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  justify-content: center;
}