/* This rule will only select divs with a class of child */
main > div {
    /* Our cool CSS */
}

/* This rule will only select divs with a class of grand-child */
main > div > div {
    /* More cool CSS */
}

/* This rule will only select the div with the class child group2 */
.group1 + div {
    /* Our cool CSS */
  }
  
/* This rule will only select the div with the class child group3 */
.group1 + div + div {
    /* More cool CSS */
}

/* This rule will select all of .group1's siblings (after the targeted one)- in this case the 2nd and 3rd .child divs */
.group1 ~ div {
    /* Our cool CSS */
}

/* Pseudo-class */
.first-article p:first-child {
    font-size: 120%;
    font-weight: bold;
}

a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
}

a:hover {
    color:hotpink;
}   

/* Pseudo-element */
.second-article p::first-line {
    font-size: 120%;
    font-weight: bold;
}   